/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

img {
    width: 100%;
    height: auto;
}

/* Variables*/

:root {
    
     /* colors */
  --hue: 36;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 100% 57%);
  --base-color-second: hsl(var(--hue) 94% 79%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/* Base*/
html {
    scroll-behavior: smooth;
}

body {
    font: 400 var(--subtitle-font-size) var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
}

.title{
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
}

.subtitle{
    font: 600 1.5rem var(--title-font);
    color: var(--title-color);
}


.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.section{
    padding: 5rem 0;
}

.section .title {
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    width: fit-content;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    padding: 1.1rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
  }

  .button:hover {
    background: var(--base-color-alt);
  }

/* logo */
.logo a{
    font: 700 var(--title-font-size) 'Poppins',sans-serif;
    color: var(--base-color);
}

.divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,rgba(0,0,0,0),var(--base-color), rgba(0,0,0,0));
    margin: 2.5rem 0;
}


/*layot*/

#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    border-bottom: 0.5px solid #e4e4e4;
    transition: 0.5s;


}

#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
}

#header.sticky {
    
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}