/* Breakpoints*/
@media (min-width: 200px){
  .section {
    padding: 3rem 0;
  }


}

@media (min-width: 361px){
  html{
    font-size: 72.5%;
  }


}

@media (min-width: 375px){
    html{
      font-size: 100%;
    }
}

@media (min-width: 767px){
    .container {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    

    

    #Home .container {
        margin-left: auto;
        margin-right: auto;
    }

    #About .container {
        margin-left: auto;
        margin-right: auto;
    }

    #Services .cards .card {
    
      width: 300px;
      height: 400px;
    
    }
  
    #Services .card .front .image{
      
  
      width: 9rem;
      height: 9rem;
      
    }

  
    footer.section {
        padding: 2rem 0; 
    }

    footer .container{
        grid-auto-flow: column;
        align-items: center;
        justify-content:space-between;
    }


}

/* large devices: 992 > */
@media (min-width: 900px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }

    .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

        /* navigation */
        nav .menu ul{
          opacity: 1;
          visibility: visible;
          top: 0;
          display: flex;
        }
      
        
      
        nav .menu ul li a.title {
          font: 400 1rem var(--body-font);
          -webkit-font-smoothing: antialiased;
        }
      
        nav .menu ul li a.title.active {
          font-weight: bold;
          -webkit-font-smoothing: auto;
        }
      
        nav  #toggle {
          display: none;
        }
    
        nav.show {
            display: none;
        }

    

    #Services .cards{
        grid-auto-flow: column;
    }

    #Services .cards {
        max-width: 100%;
        display: grid;
        gap: 2rem;
        align-items: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    
    }

    

    #Contact .grid{
      grid-auto-flow: column;
      align-items: center;
      justify-content:space-between;
      gap: 4rem;
  }

  #Contact .container .text {
      max-width: 600px;
  }

  

  #Contact  .content-info .grid{
      grid-auto-flow:row;   
      gap: 1rem
  }

}

@media (min-width: 1023px){
      /* reusable classes */
      .container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 10rem 0;
    }

    

    .button {
        height: 3.125rem;
    }

    /* Home */

    #Home {
        margin-top: auto;
        
    }

    #Home .container{
        grid-auto-flow: column;
        
        margin: 0 auto;
    }
    #Home .container.grid {
        justify-content: space-between;
    }
    

    #Home .image {
        order: 1;
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    #Home .text {
        order: 0;
        max-width: 24rem;
        text-align: left;
        }

    /* about */
    #About .container {
        margin: 0 auto;
        grid-auto-flow: column;
        }

        #Contact  .content-info {
          max-width: 400px;
        }
    
}

@media (min-width: 1200px) {
    /* reusable classes */
    .container {
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .section {
      padding: 10rem 0;
    }
  
    .section header
     {
      max-width: 32rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .button {
      height: 3.125rem;
    }
  
    /* navigation */
    nav .menu ul{
      opacity: 1;
      visibility: visible;
      top: 0;
      display: flex;
    }
  
    
  
    nav .menu ul li a.title {
      font: 400 1rem var(--body-font);
      -webkit-font-smoothing: antialiased;
    }
  
    nav .menu ul li a.title.active {
      font-weight: bold;
      -webkit-font-smoothing: auto;
    }
  
    nav  #toggle {
      display: none;
    }

    nav.show {
        display: none;
    }
  
    /* layout */
    main {
      margin-top: var(--header-height);
    }
  
    /* home */
    #Home .container {
      grid-auto-flow: column;
      
      margin: 0 auto;
    }
  
    #Home .image {
      order: 1;
      max-width: 24rem;
      
    }
  
    #Home .text {
      order: 0;
      max-width: 30rem;
      text-align: left;
    }
  
    /* about */
    #About .container {
      margin: 0 auto;
      grid-auto-flow: column;
    }
  
    /* services */
   
  
    
  
   
    
  
    /* footer */
    footer.section {
      padding: 1rem 0;
    }
  
    footer .container {
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
    }
  
    footer .logo {
      font-size: 2.25rem;
    }
}

@media (min-width: 2000px){
  html{
    font-size: 22px;
  }
  
  .container {
    max-width: 1720px;
  }

  #About .image::before {
    max-height: 100%;
  }

  #Services .cards .card{
    padding: 3.75rem 2.5rem;
  }
}