/* menu */


.menu ul{
    visibility: hidden;
    opacity: 0;
    display: none;
}

.menu ul li a {
    position: relative;
    transition: color 0.2s;  
    padding: 1rem;
}

.menu ul li a::after{
    content:"";
    width: 0;
    height: 2px;

    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--base-color);
    transition: 0.5s
}

#toggle {
    cursor: pointer;
    
    width: 40px;
    height: 40px;

    display:flex;
    align-items: center;
    justify-content: center;
}

#toggle i {
    font-size: 1.7rem;
}

/* render Menu*/
#header  nav.show {
    width: 100%;
    height: 100vh;
    margin:0;

    
    position: relative;
    top: 0;
    left: 0;

    
}

nav.show .logo{
    display: none;
}

nav.show .menu ul{
    display: grid;
    visibility: visible;
    opacity: 1;
    gap: 2rem;

    
}



nav.show .menu ul li {
    text-align: center;
    font: 500 2rem 'Poppins', sans-serif;
    
}

nav.show .menu ul li a {
    color: var(--title-color);
}

nav.show .menu ul li a:hover {
    color: var(--base-color);
}
.menu ul li a:hover::after {
    width: 100%;
}

nav.show .menu{
    display: flex;

    height: 100%;
    width: 100%;

    position: absolute;

    justify-content: center;
    align-items: center;
    
    
}

nav.show #toggle{
    position: absolute;
    top: 10px;
    right: 1rem;

    margin: 1rem;
}