.section header{
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* home */
#Home {
    margin-top: 6rem;
    overflow: hidden;
}

#Home .container {
    margin: 0;
}

#Home .image {
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#Home .image::before{
    content: "";
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#Home .image img{
    position: relative;
    
}

#Home .image img,
#Home .image::before {
    border-radius: 0.25rem;
}

#Home .text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
    text-align: center;
}

#Home .text p {
    margin-bottom: 2rem;
}


/* About */
#About {
    background: white;
}

#About .container {
    margin: 0;
}

#About .image{
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#About .image::before{
    content: '';
    height: 100%;
    width: 80%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: -30%;
    z-index: 0;
    
}

#About .image img{
    position: relative;
    
}

#About .image img,
#About .image::before {
    border-radius: 0.25rem;
}

#About .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    text-align: center;
}

#About .text p {
    Text-align: justify;
}

/* Services */
#Services header{
    margin-bottom: 4rem;
}

#Services header p span {
    font-weight: 700;
    color: var(--base-color);
}

#Services .service-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 

#Services .service-wrapper .service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Services .service .img {
    height: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
    
}

#Services .service .img img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}



#Services .service .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding:2rem ;
}

#Services .service .content p {
    text-align: justify;
}




/*Contact*/
#Contact {
    background: #fff;
}

#Contact .container .text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
 #Contact .container-form {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
#Contact .form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    
}

#Contact .form input,
#Contact .form textarea {
    width: 100%;
    
    padding: 15px 5px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #222;
    margin-bottom: 10px;
    font-family: var(--body-font);
}

#Contact .form textarea {
    padding: 5px;
    height: 100px;
    resize: none;
}

#Contact .form div {
    width: 100%;
    text-align: right;
}


/* footer */
footer {
    background: var(--base-color);
}


footer .brand {
    color: var(--text-color-light);
    
    width: fit-content;
    margin-bottom: 1.5rem;
}

footer .brand p{
    font-size: 1rem;
}

footer  .content-info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

footer  .content-info .grid{

    gap: 1rem;
    
}

footer .container i{
    font-size: 1.5rem;
    margin-right: 0.625rem;
}

footer  .content-info .grid i{
    color: #f1f1f1;
    font-size: 20px;
}

footer  .content-info .grid li {
    display: flex;
    align-items: center;
    color: #fff;
}


footer h4 {
    height:fit-content;
    color: #fff;
    font-weight: 600;
}
footer .social-links div {
    
    display: flex;
    gap: 1rem;
    
}

footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.5s;
}
footer .social-links i {
    font-size: 1.3rem;
    min-width: 24px;
    color: var(--text-color-light);
}

footer .social-links a:hover {
    transform: translateY(-10px)
}
 

